.menu {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}
