.note-container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    min-width: 430px;
}

.note {
    background-color: var(--card-color);
    margin-top: 10px;
    padding: 10px 12px;

    border: 4px solid var(--card-border-color);
    border-left: 4px solid var(--card-border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: box-shadow 0.2s ease;
}

.note:hover {
    box-shadow: var(--shadow), 0 0 4px 2px var(--glow-color);
}

.note-data {
    display: flex;
    flex-direction: column;
}

.note-header {
    display: grid;
    grid-template-columns: 110px 1fr 90px;
    column-gap: 10px;
    align-items: center;

    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.note-details {
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 10px;
}

.note-text {
    display: flex;
    font-size: 1.1rem;
    color: var(--text-color);
    border-top: 1px solid var(--card-border-color);
    padding-top: 8px;
    margin-right: 5px;
}

.note-importance {
    font-size: var(--rating-font-size);
    letter-spacing: var(--note-importance-spacing);
}

/* Temporary Stylings */
.note-highlight {
    box-shadow: 0 0 10px 3px var(--highlight-color);
    transition: box-shadow 0.2s ease;
}

.note-delete {
    opacity: 0;
    transform: scale(0.3, 0.3);
    transition: opacity 0.3s linear, transform 0.3s ease;
}