.note-edit-container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

.note-edit-data {
    display: flex;
    flex-direction: column;
}

.note-edit-header {
    display: grid;
    grid-template-columns: 110px 1fr 90px;
    gap: 10px;
}

.note-edit-details {
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    column-gap: 10px;
    margin-top: 10px;
}

#note-content {
    resize: vertical;
    min-height: 1rem;
}

