footer {
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    border-top: 2px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: inline-grid;
    grid-auto-rows: auto;
    row-gap: 5px;
    justify-items: flex-start;
}

.footer-link {
    color: var(--text-color);
    display: flex;
    align-items: center;

    & img {
        margin-right: 5px;
        height: 1.5rem;
        background-color: var(--background-color-reverse-dark);
    }
}
