@import "./themes.css";
@import "./footer.css";
@import "./components/button.css";
@import "./components/menu.css";
@import "./components/note.css";
@import "./components/checkbox.css";
@import "./components/rating.css";

:root {
    --max-content-width: 1000px;

    --rating-letter-spacing: -0.29em;
    --rating-letter-spacing-first: -0.2em;
    --rating-font-size: 1.1rem;

    --note-importance-spacing: -0.45em;

    --checkbox-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    height: 100%;

    transition:
        background-color var(--transition-colors),
        color var(--transition-text);
}

header {
    max-width: var(--max-content-width);
}

main {
    width: 100%;
    max-width: var(--max-content-width);
}

footer {
    max-width: var(--max-content-width);
}

.header {
    display: flex;
    align-items: center;
}

.header-image {
    height: 3rem;
    margin-right: 10px;
}
